<% if flash[:notice] %>
  <div class="SnackBar">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:notice_alert] %>
  <div class="SnackBar SnackBar_alert">
    <%= flash[:notice_alert] %>
  </div>
<% end %>